//Background
$bg-primary: #bad8fc;

$app-bg-colors: (
  landing: $bg-primary,
  default: #f5f5f5,
);

$clr-black: #000000;
$clr-white: #ffffff;

//Text color
$text-color-primary: #111010;
$text-color-secondary: #583933;

// Button Background Colors
$btn-bg-primary: #a4bef3;
$btn-bg-secondary: #f5e393;
$btn-bg-tertiary: #73c9c1;
$btn-bg-accent: #f5b3a3;
$btn-bg-custom: #7cebbd;
$btn-bg-disabled: #c9d4d3;
$btn-clr-secondary: #78b5ff;

$btn-bg-accent-hover: #ffd7ce;
$btn-bg-custom-hover: #aaefd2;

$btn-border-primary-hover: #3276ff;
$btn-border-accent-hover: #f9958f;
$btn-border-costum-hover: #7cebbd;

//DropDown
$dropdown-bg-color: #55ff7a;

//Card
$card-active-bg: #fff6d0;
$card-active-border: #4e84f1;

// General font sizes
$font-size-xxl: 2.5rem; // 40px
$font-size-xl: 1.5rem; // 24px
$font-size-lg: 1.125rem; // 18px
$font-size-md: 1rem; // 16px
$font-size-sm: 0.875rem; // 14px
$font-size-xs: 0.625rem; // 10px

// Heading font sizes
$heading-size-lg: 3rem; // 48px
$heading-size-md: 2rem; // 32px
$heading-size-sm: 1.25rem; // 20px
