@import "./../../styles/abstracts/variables";

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 108px;
  padding: 0 81px 0 99px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 90.99px;
  background-color: $bg-primary;
  font-family: "DejaVu Sans", sans-serif;

  .logo img {
    width: 100px;
    height: 62px;
  }
}
